.navBtn{
    height: 40px;
    width: 8%;
    margin-Top: 20px;
    margin-Left: 2%;
    color: black;
    padding:5px;
    font-Weight: bold;
}

.profileBtn{
    height: 40px;
    width: 8%;
    margin-Top: 20px;
    margin-Right: 5%;
    float: right;
    color: black;
    padding: 5px;
    font-Weight: bold;
}